fastapi
uvicorn[standard]
pydantic
python-dotenv
cerebras-cloud-sdk
chromadb
PyPDF2
python-multipart
requests
sentence-transformers
openai
mysql-connector-python
pydantic[email]
sqlalchemy
python-docx
python-pptx
pandas
openpyxl
pillow
pytesseract
